.app-table {
  thead {
    tr {
      background-color: grey;
      td {
        border: 1px solid grey;
      }
    }
  }
  tbody {
    tr {
      td {
        border: 1px solid grey;
      }
    }
  }
}