
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

@import url("./components/list.scss");
@import url("./components/table.scss");
@import url("./components//navigation.scss");
@import url("./components/header-img.scss");
@import url("./components/content.scss");
@import url("./components/popup.scss");